#supernerd-widget-display-coffee .bar {
  font-family: 'Menlo'
  width:99.2%;
  position:absolute;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.8);
  padding-left:8px;
  padding-right:8px;
}

#supernerd-widget-display-coffee .bar:after {
  content: "";
  display: table;
  clear: both;
}

#supernerd-widget-display-coffee #bottom {
  bottom:0px;
}

#supernerd-widget-display-coffee .container {
  float: left;
  width: 33.33%;
  display:flex;
}

#supernerd-widget-display-coffee #left {
  justify-content:flex-start;
}

#supernerd-widget-display-coffee #right {
  justify-content:flex-end;
}

#supernerd-widget-display-coffee #center {
  display:block;
  text-align:center;
}

#supernerd-widget-display-coffee .widg {
  margin:4px;
  margin-right:8px;
  margin-left:4px;
}

#supernerd-widget-display-coffee .desk {
  opacity:0.5;
}

#supernerd-widget-display-coffee .desk.active {
  opacity:1;
}
