/* ––––––––––––––––
––––––––––––––––––– GLOBAL VALUES
––––––––––––––––––– */

:root {
  --global_margin: 8px;
  --left-margin: 8px;
  --right-margin: 8px;
  --line-size: 48px;
}


/* ––––––––––––––––
––––––––––––––––––– POSITIONS & SIZE
––––––––––––––––––– */
#supernerd-widget-bar-top-coffee, #supernerd-widget-bar-bottom-coffee {
  display:none;
}

#supernerd-widget-base-monitor-coffee {
  top:var(--global_margin);
  left:var(--left-margin);
  width:auto;
}

#supernerd-widget-apps-and-music-coffee, #supernerd-widget-app-switch-coffee {
  top:calc(var(--global_margin)*2 + var(--line-size) );
  left:var(--left-margin);
  display:inline;
  white-space: nowrap;
}

#supernerd-widget-date-weather-coffee {
  top:calc(var(--global_margin)*3 + var(--line-size) * 2 );
  left:var(--left-margin);
  display:flex;
  justify-content: left;
}

#supernerd-widget-settings-coffee {
  top:calc(var(--global_margin) * 2 +var(--line-size));
  right:var(--right-margin);
}

#supernerd-widget-system-monitor-coffee {
  bottom:calc(var(--global_margin));
  right:var(--right-margin);
}
