
.widget {
  background-color:var(--background);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.8);
  margin:32px;
  padding:24px;
}

.bar-container {
  disaply:none;
}

.widg {
  background-color:var(--foreground);
  background-background-color:var(--color1);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.8);
  font-family:'Menlo';
  font-size:12px;
  font-smoothing:antialiasing;
  z-index:1;
  float:left;
  padding-left:8px;
  padding-right:8px;
  padding-bottom:16px;
  padding-top:16px;
}

#supernerd-widget-bar-top-coffee {
  display:none;
}

#supernerd-widget-bar-bottom-coffee {
  display:none;
}

#supernerd-widget-music-player-coffee {
  top:0px;
  left:0px;
  width:240px;
  display:inline;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

.music {
  width:220px;
}

#supernerd-widget-base-monitor-coffee {
  top:0px;
  right:0px;
  width:auto;
  display:inline;
}

#supernerd-widget-app-launcher-coffee {
  bottom:0px;
  left:0px;
  width:auto;
  display:inline;
}

#supernerd-widget-system-monitor-coffee {
  bottom:0px;
  right:0px;
  width:auto;
  display:inline;
}

.green {
  background-color:var(--color6);
}
.yellow {
  background-color:var(--color3);
}
.red {
  background-color:var(--color2);
}
.blue {
  background-color:var(--color5);
}
.cyan {
  background-color:var(--color5);
}
.magenta {
  background-color:var(--color4);
}
.white {
  background-color:var(--foreground);
}
.black {
  background-color:var(--background);
}
