/* ––––––––––––––––
––––––––––––––––––– GLOBAL VALUES
––––––––––––––––––– */

:root {

  --global_margin: 8px;
  --left-margin: 512px;
  --right-margin: 512px;
  --line-size: 42px;
}


/* ––––––––––––––––
––––––––––––––––––– GENERAL
––––––––––––––––––– */

#supernerd-widget-system-monitor-coffee {
  bottom:var(--global_margin);
  left:33%;
  right:33%;
  display:flex;
  justify-content: center;
}
