/* ––––––––––––––––
––––––––––––––––––– GLOBAL VALUES
––––––––––––––––––– */

:root {

  --global_margin: 8px;
  --left-margin: 512px;
  --right-margin: 512px;
  --line-size: 30px;
}


/* ––––––––––––––––
––––––––––––––––––– GENERAL
––––––––––––––––––– */

#supernerd-widget-system-monitor-coffee {
	right:var(--globar-margin);
}
