/* ––––––––––––––––
––––––––––––––––––– GLOBAL VALUES
––––––––––––––––––– */

:root {
  --global_margin: 8px;
  --left-margin: 256px;
  --right-margin: 256px;
  --line-size: 48px;

  --shadow_opacity:1;
  --bar_opacity:1;
}

/* ––––––––––––––––
––––––––––––––––––– GENERAL
––––––––––––––––––– */

.widg {
  color:var(--foreground);
  font-family:'Lucida Grande', Bold;
  font-size:12px;
  font-smoothing:antialiasing;
  z-index:1;
  float:left;
  display:flex;
  align-items: center;
  height: var(--line-size);
}

.bar-container {
  background-color:var(--background);
  height:var(--line-size);
  position:relative;
  z-index:-1;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  border-radius: 1px;
  opacity:var(--bar_opacity)
}

.icon-container {
  display: inline;
  float:left;
  height:var(--line-size);
  width:var(--line-size);
  display:flex;
  align-items: center;
  justify-content: center;
}

.output {
  overflow:hidden;
  white-space: nowrap;
  display: none;
  margin-left:8px;
  margin-right:8px;
  color:var(--foreground);
}

.bar-output {
  width:60px;
  height:4px;
  background-color: var(--color1);
  display:block
}

.link {
  padding:8px;
  display:none;
}

.overflow-container {
  width:210px;
}


/* ––––––––––––––––
––––––––––––––––––– BEHAVIOUR (pinned, open, alt)
––––––––––––––––––– */

.pinned .icon-container {
  color:var(--background);
  background-color: var(--foreground);
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0, 0 );
}

.open .output {
  display: flex;
  /*animation: slideout 0.2s;*/
}

.pinned .output {
  display: flex;
  animation: none;
}

.output.nohidden {
  display: flex;
}

.red {
  color:var(--color1);
}
.green {
color:var(--color2);
}
.yellow {
  color:var(--color3);
}
.blue {
  color:var(--color4);
}
.cyan {
  color:var(--color5);
}
.magenta {
  color:var(--color6);
}
.white {
  color:var(--foreground);
}
.black {
  color:var(--background);
}
.output {
  color:var(--foreground);
}

.pinned.red .icon-container {
  color:var(--background) !important;
  background-color:var(--color1);
}
.pinned.green .icon-container {
  color:var(--background) !important;
  background-color:var(--color2);
}
.pinned.yellow .icon-container {
  color:var(--background) !important;
  background-color:var(--color3);
}
.pinned.blue .icon-container {
  color:var(--background) !important;
  background-color:var(--color4);
}
.pinned.cyan .icon-container {
  color:var(--background) !important;
  background-color:var(--color5);
}
.pinned.magenta .icon-container {
  color:var(--background) !important;
  background-color:var(--color6);
}

/* ––––––––––––––––
––––––––––––––––––– SPECIAL BEHAVIOR (PER WIDGET)
––––––––––––––––––– */
#play .pinned {
  color:var(--foreground);
  background-color: var(--background);
}

#time{
  background-color: var(--color3);
}
#time-output {
  color:var(--background);
}

/* These have to be defined by ID because they are acted upon individually by
the script. So don't think of sanitizing them to classes */

#volume-bar-color-output {
  opacity:1;
  width:50%;
  background-color: var(--foreground);
}

#brightness-bar-color-output {
  opacity:1;
  width:50%;
  background-color: var(--foreground);
}

#task-container {
  height:32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ––––––––––––––––
––––––––––––––––––– POSITIONS & SIZE
––––––––––––––––––– */
#supernerd-widget-bar-top-coffee {
  top:var(--global_margin);
}
#supernerd-widget-bar-bottom-coffee {
  bottom:var(--global_margin);
}
#supernerd-widget-bar-top-coffee, #supernerd-widget-bar-bottom-coffee {
  left:var(--left-margin);
  right:var(--right-margin);
}

#supernerd-widget-desktop-coffee {
  left:var(--left-margin);
  top:var(--global_margin);
}

#supernerd-widget-music-player-coffee {
  bottom:var(--global_margin);
  left:var(--left-margin);
  display:inline;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}
#play .output {
  width:auto;
}

#supernerd-widget-window-coffee {
  top:var(--global_margin);
  width:auto;
  display:flex;
  align-items: center;
  justify-content: center;
}

#supernerd-widget-base-monitor-coffee {
  top:var(--global_margin);
  right:var(--right-margin);
  width:auto;
}
#wifi .output {
  width:60px;
}

#supernerd-widget-system-monitor-coffee {
  bottom:var(--global_margin);
  right:var(--right-margin);

}

#supernerd-widget-app-switch-coffee {
  top:var(--global_margin);
  width:auto;
  display:flex;
  justify-content: center;
}

#supernerd-widget-time-date-coffee {
  top:var(--global_margin);
  left:calc( 1.1 * var(--left-margin));
  right:calc( 1.1 * var(--right-margin));
  display:flex;
  justify-content: center;
}
#supernerd-widget-time-date-coffee .output {
  justify-content: center;
  width: 70px;
}

/* ––––––––––––––––
––––––––––––––––––– ANIMATIONS
––––––––––––––––––– */

@keyframes slideout {
  from { width:1px; }
  to { width:24px; }
}
