/* ––––––––––––––––
––––––––––––––––––– GLOBAL VALUES
––––––––––––––––––– */

:root {

  --global_margin: 0px;
  --left-margin: 0px;
  --right-margin: 0px;
  --line-size: 32px;
}


/* ––––––––––––––––
––––––––––––––––––– GENERAL
––––––––––––––––––– */
