/* ––––––––––––––––
––––––––––––––––––– GLOBAL VALUES
––––––––––––––––––– */

:root {
  --global_margin: 0px;
  --left-margin: 0px;
  --right-margin: 0px;
  --line-size: 32px;

  --shadow_opacity:1;
  --bar_opacity:1;
}

/* ––––––––––––––––
––––––––––––––––––– GENERAL
––––––––––––––––––– */

.bar-container {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.8);
}


/* ––––––––––––––––
––––––––––––––––––– BEHAVIOUR (pinned, open, alt)
––––––––––––––––––– */

.pinned .icon-container {
  color:var(--background);
  background-color: var(--foreground);
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0, 0.8 );
}
